*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Play', sans-serif;
    background-color: #2f2736;
}

.navbar{
    padding: 2rem;
    background-color: #2f2736 !important;
    display: flex;
    justify-content:space-between;
    min-width: 100%;
}
.navContainer{
    margin: 0 !important;
    min-width: 100%;
}

.navbarToggle{
    background-color:#fafafa;
}

.navbarToggle:focus,
.navbarToggle:active{
    outline: none;
    box-shadow: none;
}
.logo{
    font-size: 1.5rem;
    font-family: 'Peralta', cursive;
    color:#fafafa !important;
    text-decoration: none;
}
.link{
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin-right: 1rem;
    color: #fafafa !important;
}
.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #D31C3E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.carousel{
    padding-top: 5rem;
}
.carousel .carousel-item {
    height: 35.25rem;
}
  
.carousel-item img {
      position: absolute;
      object-fit: fill;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
}

.games{
    padding: 2rem;
}
.games h1{
    color: white;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.myCard{
    background-color: #161a1e;
    width: 16rem;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

.myCard img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 15px;
}
.cardInfo{
    text-align: left;
    padding: 0.3rem;
}
.cardInfo p, .cardInfo h4{
    margin-bottom: 0;
}
.cardInfo p{
    font-size: 0.7rem;
    color: #808082;
}
.cardInfo h4{
    color: white;
}

.play {
  background-color: #26312a;
  border-radius: 100px;
  box-shadow: rgba(10, 46, 24, 0.2) 0 -25px 18px -14px inset,rgba(10, 46, 24, .15) 0 1px 2px,rgba(10, 46, 24, .15) 0 2px 4px,rgba(10, 46, 24, .15) 0 4px 8px,rgba(10, 46, 24, .15) 0 8px 16px,rgba(10, 46, 24, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.play:hover {
  box-shadow: rgba(20, 20, 20, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media only screen and (min-width: 320px) and (max-width:380px){
    .logo{
        font-size: 0.8rem;
    }
    .link{
        font-size: 0.8rem;
    }
    .navbar-toggler{
        padding: 0.2rem 0.5rem;
    }
    .navbar-toggler-icon{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 381px) and (max-width:452px){
    .logo{
        font-size: 1rem;
    }
    .link{
        font-size: 1rem;
    }
    .navbar-toggler{
        padding: 0.4rem 0.7rem;
    }
    .navbar-toggler-icon{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1045px){
    .myCard{
        margin-bottom: 1.5rem;
    }
}

.chatbotPage{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    background-color: #2f2736;
    height: 100vh;
}
.chatLeftSide h1{
    color: white;
}
.infoContainer{
    display: flex;
    background-color: #052d56;
    border-radius: 25px 25px 25px 25px;
    padding: 2rem 2rem 0.5rem 2rem;
    align-items: center;
}
.chatInfoContainer{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 2rem 2rem 0.5rem 2rem;
    align-items: center;
    justify-content: center;
}
.chatbotInformation{
    text-align: center;
}
.chatMain{
    margin-top: 1rem;
    max-height: 12rem;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
.chatMessageSend{
    margin-top: 1rem;
    width: 18rem;
}
 .chatMain::-webkit-scrollbar {
    width: 5px;
	background-color: #dfe6e9;
 }
 
 .chatMain::-webkit-scrollbar-track {
    border: 5px solid white;
	border-color: #cccccc; 
	background-color: #b2bec3;
 }
 
 .chatMain::-webkit-scrollbar-thumb {
    background-color:#1A1A1A;
	border-radius: 10px;
 }
 ​
.chatButtonContainer{
    margin: 1rem;
}
.phoneOnlyDoodle{
    text-align: center;
}
.chatbotdoodle{
    width: 15rem;
}
.chatleftparagraphcontainer{
    display: flex;
}
.chatleftparagraph{
    margin-right: 1rem;
}

.chatbotPNG{
    width: 200px;
    position: relative;
    top: 1rem;
}
.chatbotMessage{
    margin-left: 1rem;
}
.userMessage{
    margin-right: 1rem;
}
.receiverMessage>p, .userMessage>p{
    margin-bottom: 0.5rem;
    display: inline-block;
    max-width: 50%;
    border-radius: 12px;
    padding: 0.5rem;
    background-color: #d3f2f5;
    color: #1A1A1A;
    font-weight: 500;
    text-align: justify;
}


@media screen and (max-width: 799px){
    .chatRightSide{
        display: none;
    }
    .infoContainer{
        flex-direction: column;
    }
}

@media screen and (min-width: 800px){
    .phoneOnlyDoodle{
        display: none;
    }
    .infoContainer{
        min-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .webChatbotDoodle{
        width: 25rem;
    }
    .chatLeftSide h1{
        font-size: 3rem;
    }
    .chatLeftSide > p {
        font-size: 2rem;
    }
    .chatleftparagraph{
        font-size: 1.3rem !important;
        margin-right: 1rem;
    }
    .chatButtonContainer> Button{
        padding: 0.5rem 1.8rem;
        font-size: 1.1rem;
    }
    .chatInfoContainer{
        width: 75%;
    }
    .chatbotPNG{
        width: 250px;
    }
    .chatMain{
        max-width: 100%;
    }
    .chatMessageSend{
        width: 100%;
    }
    .receiverMessage>p, .userMessage>p{
        font-size: 1.2rem;
    }
}